<h1 class="text-center"><%= image_tag "page-with-curl.png", alt: "", class:"mb-4" %> <%= current_user.profile.first_name %>, here are your wish lists</h1>

<div class="album py-5">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% @lists.each do |list| %>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= image_tag get_emoji_image(list.emoji), alt: "" %> <%= link_to list.title, list, class: "card-link" %></h5>

              <p class="card-text text-muted">No items</p>
            </div>
          </div>
        </div>
      <% end %>

      <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= image_tag "logo.png", alt: "" %> <%= link_to "Create new wish list", new_list_path, class: "card-link" %></h5>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
