<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @list.user %>
</p>

<p>
  <strong>Title:</strong>
  <%= @list.title %>
</p>

<p>
  <strong>Emoji symbol:</strong>
  <%= @list.emoji_symbol %>
</p>

<p>
  <strong>Visibility cd:</strong>
  <%= @list.visibility_cd %>
</p>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
