<h1 class="text-center"><%= image_tag get_emoji_image(@list.emoji), alt: "", class: "mb-4", height: "57px" %> <%= @list.title %></h1>

<% if @list.user == current_user%>
  <p class="text-center text-muted">visible for: <strong><%= @list.visibility %></strong> &bull; <%= link_to "edit info", edit_list_path(@list) %></p>
<% else %>
  <p class="text-center text-muted"><%= link_to @list.user.profile.first_name, profile_path(@list.user.profile) %>'s wish list</p>
<% end %>

<% if @list.items.empty? %>
  <p class="text-center text-muted">No items</p>
<% end %>

<%= render partial: 'items/album', locals: { items: @list.items, show_new_button: current_user == @list.user, list_id: @list.id } %>
