<h1 class="text-center"><%= get_emoji_code(@list.emoji) %> <%= @list.title %></h1>

<% if @list.user == current_user%>
  <p class="text-center text-muted">visible for: <%= @list.visibility %> &bull; <%= link_to "edit info", edit_list_path(@list) %></p>
<% else %>
  <p class="text-center text-muted">Wish list by <%= link_to @list.user.profile.first_name, profile_path(@list.user.profile) %></p>
<% end %>

<p class="text-center text-muted">No items</p>
