<%= turbo_frame_tag :profile_avatar_form_frame do %>
  <%= form_for profile, url: profile_avatar_path, method: :PATCH, data: { controller: "image-form", "image-form-target": "imageForm" } do |f| %>
    <div class="field mt-3">
      <% if result %>
        <div class="alert alert-info"><%= result %></div>
      <% end %>

      <div class="d-flex">
        <%= render partial: "profiles/avatar", locals: { profile: profile, html_class: "avatar avatar-100" } %>

        <div class="ms-3 align-self-center">
          <%= f.label :avatar, "Profile image", class: "form-label" %>
          <%= f.file_field :avatar, class: "form-control", data: { action: "change->image-form#imageSubmit" } %>

          <% if profile.avatar.attached? %>
            <%= link_to "Remove image", profile_avatar_path, data: { turbo_method: :delete }, class: "text-danger" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
