<%= turbo_frame_tag :profile_avatar_form_frame do %>
  <%= form_for profile, url: profile_avatar_path(profile), method: :PATCH, data: { "profile-form-target": "avatarForm" } do |f| %>
    <div class="field mt-3">
      <% unless result.nil? %>
        <% if result == true %>
          <div class="alert alert-success">Profile image was updated successfully.</div>
        <% elsif result == false %>
          <div class="alert alert-danger">Profile image was not updated.</div>
        <% else %>
          <div class="alert alert-info"><%= result %></div>
        <% end %>
      <% end %>

      <div class="d-flex">
        <%= render partial: "profiles/avatar", locals: { profile: profile, html_class: "avatar avatar-100" } %>

        <div class="ms-3 align-self-center">
          <%= f.label :avatar, "Profile image" %>
          <%= f.file_field :avatar, data: { action: "change->profile-form#avatarSubmit", "profile-form-target": "avatarInput" } %>

          <% if profile.avatar.present? %>
            <%= link_to "Remove image", profile_avatar_path(profile), data: { turbo_method: :delete }, class: "text-danger" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
