<%= turbo_frame_tag :profile_form_frame, data: { controller: "update-profile" } do %>
  <%= simple_form_for profile, url: profile_path(profile), method: :PATCH, data: { "update-profile-target": "form" } do |f| %>
    <div class="field mt-3">
      <%= f.label :username %>
      <%= f.input :username, label: false %>
      <div id="profile_username_text" class="form-text">You will be able to share a link to your profile with your username: <i>www.<%= ENV['HOST'] %>/users/username</i>.</div>
    </div>

    <div class="field mt-3">
      <%= f.label :display_name %>
      <%= f.input :display_name, label: false %>
      <div id="profile_display_name_text" class="form-text">This name is displayed to other users on your profile page and your wishlists. Write here your real name, nickname, or leave it blank to use your username.</div>
    </div>
  <% end %>

  <%= render "avatar_form", profile: profile, result: nil %>

  <div class="actions mt-3 d-flex">
    <%= button_tag "Save", class: "btn btn-primary flex-fill update-profile-submit", data: { "update-profile-target": "submit" } %>
  </div>
<% end %>
