<div id="<%= dom_id profile %>">
  <p>
    <strong>User:</strong>
    <%= profile.user_id %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= profile.username %>
  </p>

  <p>
    <strong>Display name:</strong>
    <%= profile.display_name %>
  </p>

  <p>
    <strong>Avatar:</strong>
    <%= link_to profile.avatar.filename, profile.avatar if profile.avatar.attached? %>
  </p>

</div>
