<div class="text-center">
  <%= image_tag "person-tipping-hand.png", alt: "", class: "mb-4", height: "57px" %>
  <h1 class="mb-4"><%= @profile.full_name %></h1>

  <% if @profile == current_user&.profile %>
    <p class="text-center text-muted">visible for: <strong><%= @profile.visibility %></strong> &bull; <%= link_to "edit info", edit_profile_path(@profile) %></p>
  <% end %>

  <% unless @profile.description.blank? %>
    <h5><%= @profile.description %></h5>
  <% end %>

  <% unless @profile.dob.blank? %>
    <h6><span class="fw-light">Birthday:</span> <%= @profile.dob %></h6>
  <% end %>

  <% unless @profile.messenger_url.blank? %>
    <div class="mt-4">
      <%= link_to "Contact me", @profile.messenger_url, class: "btn btn-primary" %>
      <p class="fw-light text-muted ">(external link)</p>
    </div>
  <% end %>

  <% if @lists.empty? %>
    <p class="text-muted mt-5">No public wish lists ;(</p>
  <% end %>
</div>

<% unless @lists.empty? %>
  <%= render partial: 'lists/album', locals: { lists: @lists, show_new_button: false } %>
<% end %>
