<div class="text-center">
  <%= image_tag "person-tipping-hand.png", alt: "", class:"mb-4", height: "57px" %>
  <h1 class="mb-4"><%= @profile.full_name %></h1>

  <% unless @profile.description.blank? %>
    <h5><%= @profile.description %></h5>
  <% end %>

  <% unless @profile.dob.blank? %>
    <h6><span class="fw-light">Birthday:</span> <%= @profile.dob %></h6>
  <% end %>

  <% unless @profile.messenger_url.blank? %>
    <h6><%= link_to "Contact me!", @profile.messenger_url %> <span class="fw-light text-muted ">(external link)</span></h6>
  <% end %>
</div>
