<header class="p-3 text-bg-dark">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <% if current_user %>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <% if current_user.profile.username && current_user.wishlists.where.not(id: nil).present? %>
            <li><%= link_to "Wishlists", wishlists_path, class: "nav-link px-2 text-#{request.env['PATH_INFO'] == wishlists_path ? "secondary" : "white" }" %></li>

            <li><%= link_to "Add new item", new_item_path, class: "nav-link px-2 text-#{request.env['PATH_INFO'] == new_item_path ? "secondary" : "white" }" %></li>

            <li><%= link_to "Profile", profile_by_username_path(current_user.profile.username), class: "nav-link px-2 text-#{request.env['PATH_INFO'] == profile_by_username_path(current_user.profile.username) ? "secondary" : "white" }" %></li>
          <% end %>
        </ul>
      <% else %>
        <%= link_to "Home", root_path, class: "d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none" %>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        </ul>
      <% end %>

      <%# <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
      </form> %>

      <div class="text-end">
        <% if current_user %>
          <%= button_to "Log out", destroy_user_session_path, method: "delete", class: "btn btn-outline-light me-2" %>
        <% else %>
          <%= link_to "Log in", new_user_session_path, class: "btn btn-outline-light me-2" %>
          <%= link_to "Sign up", new_user_registration_path, class: "btn btn-warning" %>
        <% end %>
      </div>
    </div>
  </div>
</header>
