<main class="text-center form-center">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= image_tag "logo.png", alt: "", class:"mb-4", height: "57px" %>
    <h1 class="h3 mb-3 fw-normal">Log in</h1>

    <div class="mb-3">
      <p>You don't have an account yet? <%= link_to "Sign up", sign_up_path %>!</p>
    </div>

    <div class="field form-floating mb-1">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "name@example.com" %>
      <%= f.label :email %><br />
    </div>

    <div class="field form-floating mb-1">
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Password" %>
      <%= f.label :password %><br />
    </div>

    <div class="actions">
      <%= f.submit "Log in", class: "w-100 btn btn-lg btn-primary" %>
    </div>
  <% end %>
</main>
