<div class="text-center form-center">
  <%= form_for(current_user) do |f| %>
    <%= f.text_field :first_name %>
    <%= f.text_field :last_name %>
    <%= f.date_field :dob %>
    <%= f.text_field :description %>
    <%= f.url_field :messenger_url %>
    <%= f.submit "Log In" %>
  <% end %>
</div>
