<%= turbo_frame_tag :item_form_frame, data: { controller: "turbo-form-redirect form item-form" } do %>
  <%= form_with model: item, id: "item-form", data: { "form-target": "form", "form-errors": errors, "item-form-target": "form" } do |f| %>
    <div class="field mt-3">
      <div class="row">
        <div class="col">
          <%= f.label :title, class: "form-label" %>
          <%= f.text_field :title, class: "form-control", autofocus: true, data: { "item-form-target": "titleInput" } %>
        </div>
        <div class="col-1">
          <h5 class="mt-4 text-center">OR</h5>
        </div>
        <div class="col">
          <%= f.label :url, class: "form-label" %>
          <%= f.url_field :url, class: "form-control", data: { "item-form-target": "urlInput" } %>
        </div>
      </div>

      <div class="form-text text-end hidden" data-item-form-target="urlDescriptionEmpty">Paste the URL to fill in the missing data automatically.</div>
      <div class="form-text text-end hidden" data-item-form-target="urlDescriptionFilled">Empty data will be filled after some time.</div>
    </div>

    <div class="d-flex gap-3 mt-3">
      <div class="field flex-fill">
        <%= f.label :description, class: "form-label" %>
        <%= f.text_field :description, class: "form-control", data: { "item-form-target": "descriptionInput" } %>

        <div class="form-text">Write color, size or any other product information.</div>
      </div>
      <div class="field price-field">
        <%= f.label :price, class: "form-label" %>
        <%= f.number_field :price, class: "form-control", min: 0.01, step: 0.01, data: { "item-form-target": "priceInput" } %>

        <div class="form-text">Just a number.</div>
      </div>
    </div>

    <div class="field mt-3">
      <p class="mb-0"><%= f.label :wishlist_id, class: "form-label" %></p>

      <%= collection_radio_buttons("item", "wishlist_id", current_user.wishlists.order(updated_at: "desc"), :id, :title) do |b| %>
        <%= b.radio_button class: "form-check-input", checked: (params[:item] && params[:item]["wishlist_id"]) == b.value || params[:wishlist_id] == b.value %>
        <%= b.label class: "form-check-label" %><br>
      <% end %>
    </div>

    <div class="actions mt-3 d-flex">
      <%= button_tag "Save", class: "btn btn-primary flex-fill item-form-submit", data: { "item-form-target": "submit" } %>
    </div>
  <% end %>
<% end %>
