<%= turbo_frame_tag @item, data: { controller: "turbo-form-redirect" } do %>
  <div class="px-3">

    <div id="items" class="row justify-content-center row-cols-1 row-cols-lg-2 g-4 mt-3">
      <div id="<%= dom_id @item %>" class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">
              <%= link_to @item.title || @item.url, item_path(@item), class: "text-decoration-none", data: { turbo_frame: "_top" } %>
            </h5>

            <p class="card-text">
              <small class="text-muted">
                <% if @item.url.present? %>
                  External URL: <%= link_to "#{URI.parse(@item.url).host} <i class='bi bi-box-arrow-up-right'></i>".html_safe, @item.url, class: "text-decoration-none", target: "_blank" %><br>
                <% end %>

                <% if @item.price.present? %>
                  Listed price: <%= @item.price %>.<br>
                <% end %>

                <% if @item.description.present? %>
                  Description: <%= @item.description %><%= "." if @item.description[-1] != "." %><br>
                <% end %>

                Last updated <%= time_ago_in_words(@item.updated_at) %> ago.
              </small>
            </p>
          </div>
        </div>
      </div>
    </div>

    <% if current_user == @item.wishlist.user %>
      <div class="d-flex justify-content-center align-items-center gap-3">
        <%= link_to "Edit this item", edit_item_path(@item), data: { turbo_frame: "_top" } %>
        <%= button_to "Delete", @item, method: :delete, class: "btn btn-link text-danger" %>
      </div>
      <div class="d-flex justify-content-center align-items-center gap-3">
        <%# <%= render "image_form", item: @item, result: nil %> %>
      </div>
    <% else %>
      <p class="text-center">
        item by

        <%= link_to profile_path(@item.user.profile), class: "text-decoration-none" do |link| %>
          <%= render partial: "profiles/avatar", locals: { profile: @item.user.profile, html_class: "avatar" } %>
          <%= @item.user.profile.display_name %>
        <% end %>
      </p>
    <% end %>

  </div>
<% end %>
