<%= form_with(model: wishlist) do |form| %>
  <% if wishlist.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(wishlist.errors.count, "error") %> prohibited this wishlist from being saved:</h2>

      <ul>
        <% wishlist.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :emoji, style: "display: block" %>
    <%= form.text_field :emoji %>
  </div>

  <div>
    <%= form.label :publicity, style: "display: block" %>
    <%= form.number_field :publicity %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
