<%= turbo_frame_tag :wishlist_form_frame, data: { controller: "turbo-form-redirect form wishlist-form" } do %>
  <div class="my-5 mx-auto wishlist-form">
    <h2 class="text-center">
      <% if current_user.wishlists.count == 0 %>
        It's time to create your first wishlist &#129668;
      <% else %>
        Editing wishlist
      <% end %>
    </h2>

    <%= form_with model: wishlist, id: "wishlist-form", data: { "form-target": "form", "wishlist-form-target": "form", "form-errors": errors } do |f| %>
      <div class="field mt-3">
        <%= f.label :title, class: "form-label" %>
        <%= f.text_field :title, class: "form-control", data: { "wishlist-form-target": "nameInput" } %>
        <div id="wishlist_title_text" class="form-text">Hint: Put an emoji in front of the wishlist name, for example: <span class="text-decoration-underline cursor-pointer" data-wishlist-form-target="nameBirthday">&#127874; Birthday</span>.</div>
      </div>

      <div class="field mt-3">
        <div>
          <%= f.label :publicity, class: "form-label" %>
        </div>

        <div class="btn-group d-flex">
          <% WishlistsHelper::CollectPublicities.new.call.each do |name, value| %>
            <%= radio_button_tag "wishlist[publicity]", value, value == wishlist.publicity, class: "btn-check" %>
            <%= label_tag "wishlist_publicity_#{value}", name, class: "btn btn-outline-primary" %>
          <% end %>
        </div>

        <div id="wishlist_publicity_text_hidden" class="wishlist-publicity-text form-text hidden">This wishlist will only be visible to you when you are logged into your account.</div>
        <div id="wishlist_publicity_text_by_link" class="wishlist-publicity-text form-text hidden">This wishlist will not be visible on your profile, but anyone you share the link with will be able to see it.</div>
        <div id="wishlist_publicity_text_listed" class="wishlist-publicity-text form-text hidden">This wishlist will be visible on your profile and anyone you send the link to.</div>
      </div>

      <div class="actions mt-3 d-flex">
        <%= button_tag "Save", class: "btn btn-primary flex-fill wishlist-form-submit", data: { "wishlist-form-target": "submit" } %>
      </div>
    <% end %>
  </div>
<% end %>
