<%= turbo_frame_tag @wishlist do %>
  <h1 class="text-center mt-5">Your Wishlists &#10024;</h1>

  <div class="text-center mt-0">
    <p>
      <%= link_to "New wishlist", new_wishlist_path %>
    </p>
  </div>

  <div id="wishlists" class="gallery">
    <% @wishlists.each do |wishlist| %>
      <%= render wishlist %>
    <% end %>
  </div>

  <div>
    <%= link_to "Edit this wishlist", edit_wishlist_path(@wishlist), data: { "turbo-action": "replace" } %> |
    <%= link_to "Back to wishlists", wishlists_path %>

    <%= button_to "Destroy this wishlist", @wishlist, method: :delete %>
  </div>
<% end %>
