<%= turbo_frame_tag @wishlist, data: { controller: "turbo-form-redirect" } do %>
  <h1 class="text-center mt-5"><%= @wishlist.title %></h1>

    <% if current_user == @wishlist.user %>
      <p class="text-center mb-0">
        <i class="fs-75 <%= WishlistsHelper::PUBLICITY_ICONS[@wishlist.publicity.to_sym] %>"></i>
        <%= WishlistsHelper::PUBLICITY_TITLES[@wishlist.publicity.to_sym] %><br>
      </p>

      <div class="d-flex justify-content-center gap-3">
        <%= link_to "Edit this wishlist", edit_wishlist_path(@wishlist), data: { "turbo-action": "replace" } %>
        <%= button_to "Delete", @wishlist, method: :delete, class: "btn btn-sm btn-outline-danger" %>
      </div>
    <% else %>
      <p class="text-center">
        Wishlist by

        <%= link_to profile_path(@wishlist.user.profile), class: "text-decoration-none" do |link| %>
          <%= render partial: "profiles/avatar", locals: { profile: @wishlist.user.profile, html_class: "avatar" } %>
          <%= @wishlist.user.profile.display_name %>
        <% end %>
      </p>
    <% end %>
  </p>
<% end %>
