<!DOCTYPE html>
<html>
  <head>
    <title>Wishlise</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= favicon_link_tag 'logo.png' %>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation.html.erb' %>

    <%= render 'layouts/alerts.html.erb' %>
  
    <%= yield %>

    <%= render 'layouts/footer.html.erb' %>
  </body>
</html>
