<!DOCTYPE html>
<html>
  <head>
    <title>Wishlise</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= favicon_link_tag 'logo.png' %>

    <link rel="apple-touch-icon" sizes="152x152" href="<%= asset_path 'apple-touch-icon.png' %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= asset_path 'favicon-32x32.png' %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_path 'favicon-16x16.png' %>">
    <link rel="manifest" href="<%= asset_path 'site.webmanifest' %>">
    <link rel="mask-icon" href="<%= asset_path 'safari-pinned-tab.svg' %>" color="#4f7cac">
    <meta name="apple-mobile-web-app-title" content="Wishlise">
    <meta name="application-name" content="Wishlise">
    <meta name="msapplication-TileColor" content="#4f7cac">
    <meta name="theme-color" content="#4f7cac">

    <link href="<%= asset_path 'iphone5_splash.png' %>" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="<%= asset_path 'iphone6_splash.png' %>" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="<%= asset_path 'iphoneplus_splash.png' %>" media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="<%= asset_path 'iphonex_splash.png' %>" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="<%= asset_path 'iphonexr_splash.png' %>" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="<%= asset_path 'iphonexsmax_splash.png' %>" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="<%= asset_path 'ipad_splash.png' %>" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="<%= asset_path 'ipadpro1_splash.png' %>" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="<%= asset_path 'ipadpro3_splash.png' %>" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="<%= asset_path 'ipadpro2_splash.png' %>" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation.html.erb' %>

    <%= render 'layouts/alerts.html.erb' %>
  
    <%= yield %>

    <%= render 'layouts/footer.html.erb' %>
  </body>
</html>
